
<div class="continer">
    <h1 >User Data</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of data">
                <td>{{ user.id }}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.address.city}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.website}}</td>
            </tr>
        </tbody>
    
    </table>
</div>
